

<div id="banner" class="w-full bg-gray-500 h-screen sm:h-80 overflow-hidden">
    <div class="w-full mx-auto sm:container px-5 py-6 sm:px-0 h-full flex flex-col justify-end">
        <h2 class="text-4xl">1er <br> Congreso <br> Federal <br> Argentino <br> de Transporte</h2>
        <span>Desde hasta</span>
    </div>
</div>

<style>
    #banner{
        
    }
</style>