
<section id="cronograma">
    <div class="w-full md:container mx-auto px-5 py-2">
        <ol class="relative border-s border-gray-200 dark:border-third">                  
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-fourth"></div>
                <time class="mb-1 text-xl font-bold text-sec dark:text-gray-100">Dia 1</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Bienvenida</h3>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200">Acreditación</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-exposicion"> Exposición </span> COFETRA.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-break"> Break </span></p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-conferencia"> Conferencias </span> Magistrales.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-break"> Almuerzo </span></p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-dialogo"> Mesas de dialogo </span> Movilidad sustentable.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-exposicion"> Debate </span> situación de las provincias.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-exposicion"> Exposición </span> en paralelo.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-break"> Cena </span></p>
                <!-- <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-fourth dark:focus:ring-fourth">Learn more <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg></a> -->
            </li>
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-fourth"></div>
                <time class="mb-1 text-xl font-bold text-sec dark:text-gray-100">Dia 2</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mañana</h3>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-conferencia"> Conferencias </span> Magistrales.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-conferencia"> Presentación </span> Gestión de las provincias.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-break"> Break </span></p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-exposicion"> Exposición </span> Energía y cambio climatico.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-break"> Almuerzo </span></p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Tarde</h3>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-dialogo"> Mesas de dialogo </span> Energía y cambio climatico.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-dialogo"> Mesas de dialogo </span> Subsidio y tarifas.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-break"> Break </span></p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-dialogo"> Mesas de dialogo </span> Seguridad vial.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-dialogo"> Mesas de dialogo </span> Nuevas tecnologías para la movilidad.</p>
                <p class="text-base font-normal my-2 text-sec dark:text-gray-200"><span class="tags tag-exposicion"> Exposición </span> En salones.</p>
                <!-- <p class="text-base font-normal text-sec dark:text-gray-400">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p> -->
            </li>
            <li class="ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-fourth"></div>
                <time class="mb-1 text-xl font-bold text-sec dark:text-gray-100">Dia 3</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Confección de actas y libro</h3>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Entrega de certificados</h3>
                <h4 class="text-lg font-semibold text-gray-900 dark:text-white">Recorrido turístico de principales atractivos de la ciudad</h4>
                
            </li>
        </ol>
    </div>
</section>

<style>
    .tags{
        @apply border-2 border-transparent inline-flex py-1 px-2 rounded-full font-bold
    }
    .tag-dialogo{
        @apply border-green-400 text-green-500 bg-gray-800;
    }
    .tag-conferencia{
        @apply border-fourth text-fourth bg-gray-800;
    }
    .tag-exposicion{
        @apply border-red-400 text-red-500 bg-gray-800;
    }
    .tag-break{
        @apply border-orange-400 text-orange-500 bg-gray-800;
    }
</style>