---
---
<header class="bg-red-300">
    <nav>
        <a href="/">Inicio</a>
        <a href="/">Staff</a>
        <a href="/">Novedades</a>
        <a href="/">Galería</a>
        <a href="/">Programa</a>
        <a href="/">Contacto</a>
    </nav>
</header>