---
import Titulo from "./ui/Titulo.astro";
import Rectcard from "./ui/Rectcard.astro";

---
<section id="inscripcion" class="w-full mx-auto px-5 py-2 md:container">
    <Titulo name="Inscripciones"/>
    <div class="cards flex justify-between flex-col sm:flex-row gap-2">
        <Rectcard title="Producto 1" price="3000"/>
        <Rectcard title="Producto 2" price="3000"/>
        <Rectcard title="Producto 3" price="3000"/>
    </div>
    <h3 class="text-gray-950 my-5">Información requerida: precios y descripciones de inscripciones</h3>
</section>