---
import Titulo from "./Titulo.astro";
import Rectcard from "./ui/Rectcard.astro";

---
<section id="inscripcion" class="w-full mx-auto px-5 py-2 md:container">
    <Titulo name="Inscripción"/>
    <div class="cards flex justify-between">
        <Rectcard title="Producto 1" price="3000"/>
        <Rectcard title="Producto 2" price="3000"/>
        <Rectcard title="Producto 3" price="3000"/>
    </div>
</section>