---
import Titulo from "./ui/Titulo.astro";
import Newscard from "./ui/Newscard.astro";
---
<section id="Noticias"class="w-full mx-auto px-5 py-8 sm:container min-h-32">
    <Titulo name="Novedades"/>
    <div id="noticias-cards" class="flex flex-wrap">
        <Newscard/>
        <Newscard/>
        <Newscard/>
        <Newscard/>
        <a href="/" class="btn inline-block mx-auto dark:text-gray-800">Mas noticias</a>
    </div>
</section>