---
import Titulo from "./ui/Titulo.astro";
import Patreon from "../components/ui/Patreon.astro"
---
<section id="patreons" class="w-full bg-gray-500 dark:bg-gray-950 md:h-screen sm:h-80">
    <div class="w-full sm:container mx-auto px-5 py-8 sm:px-0 h-full">
        <Titulo name="Nuestros patrocinadores"/>
        <div id="carrusel" class="flex gap-2">
            <Patreon nombre="sponsor" alt="Lucas"/>
            <Patreon nombre="sponsor" alt="Lucas"/>
            <Patreon nombre="sponsor" alt="Lucas"/>
            <Patreon nombre="sponsor" alt="Lucas"/>
        </div>
        <h3 class="text-gray-800">Completar con carrusel</h3>
    </div>
</section>