---
import Titulo from "./ui/Titulo.astro"
import Card from "../components/ui/Card.astro"
---
<section id="staff" class="w-full mx-auto bg-gray-500 px-5 py-2 md:container">
    <Titulo name="Nuestro staff"/>
    <p>Información requerida: descripción del staff </p>
    <div id="cards" class="flex flex-col sm:flex-row gap-0 sm:gap-1 md:gap-5 justify-start">
        <Card nombre="Lucas"/>
        <Card nombre="Ignacio"/>
        <Card nombre="José"/>
        <Card nombre="Ariel"/>
    </div>
</section>