---
import Titulo from "./ui/Titulo.astro"
import Card from "../components/ui/Card.astro"
import { directivos } from "../ts/data"


---
<section id="staff" class="w-full mx-auto bg-prim dark:bg-gray-900 mt-4 px-5 py-2 md:container">
    <Titulo name="Autoridades COFETRA"/>
    <p>Información requerida: descripción del staff </p>
    <div id="cards" class="flex flex-col sm:flex-row gap-0 sm:gap-1 md:gap-5 justify-start">
        {directivos.map(card => (
            <Card nombre={card.nombre} rol={card.rol} extra={card.extra}/>
        ))}
    </div>
</section>